/* Mode tablette (> 575.98px) : 
- image à côté de la présentation */
@media (min-width: 575.98px){
    body > header{
        display: flex;
    }

    body > header > img{
        flex-grow: 1;
    }
}

/* Ecran ordinateur (>=992px) : 
 - grille de 3 colonnes
 - en-tête sur 2 colonnes et note aside sur la 3ème
 - sommaire dans une colonne de 300px et règles sur le reste
*/
@media (min-width: 992px) { 
    body{
        display:grid;
    }

    h1{
        grid-column: 1 / -1;
    }
    #footer{
        height: 50px;
        position: relative;
        padding: 0 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #212121;
        text-align: center;
        color: white;
        line-height: 50px;
        padding: 0 20px;
    }
}

/* Ecran x-tra large 
- sous-grille pour les règles
- règles sur 2 colonnes
*/
@media (min-width: 1200px) { 
}